<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>portfolio-mandeep</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='/media/pf.png') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/main.css') }}">


</head>

<body>
  <video autoplay muted loop id="bgVideo">
    <source src="{{ url_for('static', filename='css/WhatsApp Video 2024-04-13 at 23.32.07 (1).mp4') }}"
      type="video/mp4">
  </video>
  <div class="container">
    <div class="row m-2">
      <div class="col-md-3">
        <div class="card card-body h-100 border-info" id="profile-wrapper">

          <img id="profile-pic" src="{{ url_for('static', filename='/media/profile.png') }}">
          <hr>
          <h4>Hi I'm Mandeep</h4>
          <marquee>
            <p>I love coding, doing research, and collaborating.</p>
          </marquee>
          <p><span><b>Python (Programming Language)</b><br></span> <span>• Django</span>
            • Flask <span>• Object-Oriented Programming (OOP)</span> •Django REST Framework •Full-Stack Development • HTML • Python
            (Programming Language) •Django REST Framework •Web Development • Object-Oriented Programming (OOP) • HTML5 • Cascading Style Sheets (CSS) •
            JavaScript • Bootstrap (Framework) • MySQL • Sqlite • GIT GITHUB</p>
          <ul class="social-link">
            <li><a href="https://www.linkedin.com/in/mandeep-mishra-843378223/" target="_blank"><img class="social"
                  src="{{ url_for('static', filename='/media/linkedin.png') }}"></a></li>
            <li><a href="https://twitter.com/Mannu_258 " target="_blank"><img class="social"
                  src="{{ url_for('static', filename='/media/twitter.png') }}"></a></li>
            <li><a href="https://github.com/Mannu258" target="_blank"><img class="social"
                  src="{{ url_for('static', filename='/media/github.png') }}"></a></li>
          </ul>
        </div>
        <br>
      </div>
      <div class="col-md-9">
        <div class="card card-body h-100 border-info">
          <h3 class="text-center">Website Development is the process of building and maintaining websites</h3>
          <hr>
          <p>I'm a Python and Django Developer with a hunger or building powerful web experiences. Currently, I am
            pursuing my passion in building an ecommerce application using Django Let's create something amazing
            together!</p>
          <p>it’s the work that happens behind the scenes to make a website look great, work fast, and perform well with
            a seamless user experience. Web Developers, or ‘devs’, do this by using a variety of coding languages. The
            languages they use depend on the types of tasks they are performing and the platforms on which they are
            working.

            <br><br><span class="m-5"><b> • Web Development Overview:</b></span><br><br>

            Front-End Development: Involves creating the visual aspects of a website that users see and interact with
            through web browsers.
            Back-End Development: Focuses on server-side development with databases and website architecture.
            Full-Stack Development: Combines both front-end and back-end development expertise.
            <br><br><span class="m-5 "><b> • Short Bio:</b></span><br><br>
            Web development is a dynamic field that combines creativity and technical skills to build and
            improve websites and web applications. It requires knowledge of programming languages like HTML, CSS,
            JavaScript for the front-end, and languages like Python, Ruby, PHP for the back-end, along with an
            understanding of databases and server management. Web developers must stay up-to-date with the latest
            technologies and industry trends to create responsive, user-friendly, and secure websites. They play a
            crucial role in the success of online businesses and the digital presence of organizations. The image you
            provided lists essential skills and tools for web developers, emphasizing the importance of a diverse skill
            set in this field.
          </p>
        </div>
      </div>
      <div class="row m-4">
        <div class="col-md-6">
          <div class="card card-body h-100">
            <h5 class="text-center">My experience as a Developer</h5>
            <hr>
            <p>I am a passionate and dedicated Web Developer with a deep understanding of various programming languages,
              frameworks, and technologies. With a strong foundation in Python, Django,Flask, HTML, CSS, JavaScript, and
              Bootstrap, I am have developed a wide range of websites and web applications that are not only visually
              appealing but also highly functional and user-friendly.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-body h-100">
            <h5 class="text-center">Personal Details</h5>
            <hr>
            <p>Name:-  Mandeep Mishra (Web Application Developer)</p>
            <p>Mobile No:- +919386090900</p>
            <p>Email ID:- mishramandeep@outlook.com</p>
          </div>
        </div>
      </div>


      <div class="row m-4">
        <div class="col-md-6">
          <div class="card card-body h-100">
            <h5 class="text-center">My Clients</h5>
            <hr>
            <h4 class="text-center"> 1. OG Movers</h4>
            <a class="text-center" href="https://https://www.ogmovers.com.au/">OG Movers</a>
            <p class="text-center">OG Movers is a moving service provider that offers a range of services to facilitate
              seamless transitions for their clients. They specialize in home and office relocations, providing
              efficient loading and unloading solutions to ensure a stress-free moving experience. Here are some
              highlights about OG Movers</p>
            <h4 class="text-center"> 2. Mojopanda Pvt Ltd</h4>
            <a class="text-center" href="https://www.dbmojopanda.com/">Database Management</a>
            <p>Their system is robust, efficient, and easy to use. It has significantly improved our data organization
              and accessibility, enabling us to make more data-driven decisions.</p>
            <h4 class="text-center"> 3. OG Movers</h4>
            <a class="text-center" href="https://myawesomecart.pythonanywhere.com/">My Awesomecart</a>
            <p>My Awesomecart “My Awesomecart, facilitated by O G Mobers, has revolutionized the way we conduct
              business. It’s not just a platform, it’s a virtual marketplace that bridges the gap between buyers and
              sellers. The user-friendly interface and seamless transactions have made shopping a delightful experience.
              O G Mobers has truly transformed the e-commerce landscape with My Awesomecart.”</p>
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-body h-100">
            <h5 class="text-center">Client Testimonial</h5>
            <hr>
            <p> <span class="fw-bold">1 . O G Movers </span> - Moving can be one of life’s most stressful events, but
              with OG Movers, it was a breeze. From the first call to the final box being unpacked, the team at OG
              Movers was professional, courteous, and incredibly efficient. They handled our home relocation with such
              care that it felt as if they were moving their own belongings. Their attention to detail and the seamless
              coordination between packing, loading, and unloading were remarkable. Not only did they ensure that
              everything arrived safely, but they also went above and beyond to accommodate our scheduling needs. We
              couldn’t be happier with the service provided and would highly recommend OG Movers to anyone looking for a
              stress-free move.”</p>

            <p><span class="fw-bold">2 . Mojopanda Pvt Ltd </span>- Database Management “Mojopanda Pvt Ltd has provided
              us with an exceptional database management solution. Their system is robust, efficient, and easy to use.
              It has significantly improved our data organization and accessibility, enabling us to make more
              data-driven decisions. We highly recommend Mojopanda Pvt Ltd for their outstanding services in database
              management.”</p>

            <p><span class="fw-bold">3. OG Movers</span> -1. OG Movers - My Awesomecart: ‘My Awesomecart,
              facilitated by OG Movers, has revolutionized the way we conduct business. It’s not just a platform, it’s a
              virtual marketplace that bridges the gap between buyers and sellers. The user-friendly interface and
              seamless transactions have made shopping a delightful experience. OG Movers has truly transformed the
              e-commerce landscape with My Awesomecart.”</p>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</html>